*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box {
  width: 600px;
  margin: auto;
  border: 2px solid #000;
  padding: 15px;
  font-family: Arial, sans-serif;
  opacity: 0;
  transform: translateY(20px);
  border-radius: 20px;
}

.fade-in {
  animation: fadeIn 0.6s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.heading {
  margin: 0;
  padding: 0;
}

.all-task-heading-divider {
  border-top: 2px solid #000;
  margin: 10px -15px;
}

.add_button {
  display: inline-block;
  margin: 10px 50px 10px 1100px;
  text-decoration: none;
  padding: 6px 10px;
  border: 1px solid #413f46;
  color: #222;
  background-color: #6df094fd;
  border-radius: 50px;
  font-weight: bold;
}

.add_button:hover {
  background-color: #2d39e0;
  cursor: pointer;
  transition: 0.6s;
}

.all-task-content {
  min-height: 143px;
  padding: 10px;
  font-size: 18px;
  margin: 0 0 0 100px;
}

.student-link {
  color: midnightblue;
  text-align: left;
  text-decoration: none;
  margin-left: 00px;
}

.student-link:hover {
  color: darkblue;
  cursor: pointer;
  transition: 0.6s;
}

Link {
  margin-left: 0;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.buttons button {
  padding: 6px 10px;
  border: 1px solid #000;
  cursor: pointer;
  transition: 0.6s;
  border-radius: 50px;
}

.buttons button:hover {
  background: #2d39e0;
  transition: 0.6s;
}

.buttons button.active {
  background: #2d39e0;
  font-weight: bold;
}