* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.error-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: 120px;
    color: #343a40;
    font-family: Arial, sans-serif;
}

.error-page h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
}

.error-page p {
    font-size: 1.5rem;
}