*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 0px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

footer ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

footer ul li a:hover {
    color: #ff6347;
}

footer h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

footer .social-icons {
    font-size: 24px;
    margin-top: 10px;
}

footer .social-icons a {
    margin: 0 10px;
    color: #fff;
    transition: color 0.3s;
}

footer .social-icons a:hover {
    color: #ff6347;
}

.footer-sections {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
}

.footer-links {
    display: block;
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}