*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.update-task-container {
    width: 600px;
    margin: 30px 0 0 350px;
    font-size: 18px;
    color: #333;
    border: 2px solid #000;
    border-radius: 20px;
}

.heading {
    text-align: center;
    padding: 10px;
}

.heading-divider {
    border-top: 2px solid #000;
    margin: 0;
}

.content {
    margin: 0 0 0 100px;
}

button {
    text-decoration: none;
    margin: 10px 10px 10px 60px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #4caf50;
    color: white;
    border-radius: 50px;
    cursor: pointer;
}

input {
    width: 300px;
    height: 25px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #535151;
    background: #d2c8d4;
}